ASSIGNMENT FOUR:
Find the mean, variance and standard deviation of the students age, height and weight

In [2]:
import numpy as np
import pandas as pd

In [3]:
data=pd.read_excel(r"studentdata.xlsx")
print(data)

     S/N             student_names  age weight   height
0    1.0            Adokorac Nancy   20     74    177.8
1    2.0   Amutuhaire Faith Ahabwe   27     47   157.48
2    3.0     KWAGALA JOANNA VICTOR   21     54   185.42
3    4.0              mahoro cathy   23     30   185.42
4    5.0  Mbabazi Hawa Bint Edrisa   19     59   175.26
5    6.0       Nakanjako josephine   24     65   175.26
6    7.0            Nanteza Dorcus   21     69   157.48
7    8.0             Mbabazi Angel   19     57   167.64
8    9.0            Namara Racheal   19     55   154.94
9   10.0       Lwamulungi Sheillah   22     78   162.56
10   NaN           Nakawuka Sandra   25     60   175.26
11   NaN   Achola Gloria Fortunate   27     80   172.72
12   NaN             Nagawa Esther   21     58   188.42
13   NaN           wanjiku hananny   19     50    165.1
14   NaN            babirye Sandra   21     50   175.26
15   NaN          nakagga shanitah   21     50   175.26
16   NaN    Wembabazi Vivian Ritah   20     49   160.02
17   NaN   Nanziri Ritah Namayanja   23     70   162.56
18   NaN            Nasejje Mariam   20     62    101.6
19   NaN  Namukose Jolline Edriana   20     55   162.56
20   NaN      Agatha Faith Anyango   27     55    93.98
21   NaN              Kirabo Sarah   23     60    165.1
22   NaN          Nansalire Anitah   21     45     63.5
23   NaN             Nalugo gladys   19     70    101.6
24   NaN            Namakula Allen   20     55   170.18
25   NaN           Tukahirwa emily   22     67   175.26
26   NaN            Shamirah Ahmed   21     67   137.16
27   NaN          Ameso lmmaculate   23     64    165.1
28   NaN                Ayoo Teddy   20     50   157.48
29   NaN                Biira Mary   30     65   104.14
30   NaN        Aloyo Brenda Ojera   23     52   170.18
31   NaN        Ayebale Immaculate   24     50   162.56

In [4]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\hp\anaconda3\lib\site-packages (3.0.10)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: et_xmlfile in c:\users\hp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [7]:
# to remove the NA from the table imported earlier
data['height']=pd.to_numeric(data['height'], errors='coerce')
data.dropna(subset=['height'], inplace=True)

In [12]:
#Student age
#mean of student age
student_mean_age=data['age'].mean()
student_mean_age

23.5

In [13]:
#finding standard deviation for student age
student_std_age=data['age'].std()
student_std_age

0.7071067811865476

In [14]:
#finding the variance for student age
student_var_age=data['age'].var()
student_var_age

0.5

In [15]:
#Student height
#Finding mean for student height
student_height_mean=data['height'].mean()
student_height_mean

166.37

In [17]:
#finding standard deviation for student height
student_height_std=data['height'].std()
student_height_std

5.388153672641495

In [18]:
#finding variance for student height
student_height_var=data['height'].var()
student_height_var

29.032200000000035

In [20]:
#Student weight
#finding the student mean weight
student_weight_mean=data['weight'].mean()
student_weight_mean

51.0

In [21]:
#finding the student weight standard deviation
student_weight_std=data['weight'].std()
student_weight_std

1.4142135623730951

In [22]:
#finding the student weight variance
student_weight_var=data['weight'].var()
student_weight_var

2.0